body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  color: white;

}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section:nth-of-type(1) {
  justify-content: space-between;
}

.section:nth-of-type(2) {
  background-color: white;
}

.intro {
  height: 40%;
  width: 30%;
  margin-left: 5%;
}

.navbar-brand {
  margin-left: 5.5%;
}

p {
  text-align: justify;
}

.title {
  height: 75%;
  width: 100%;
  text-align: center;
}

.data {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.item {
  height: 300px;
  width: 300px;
  margin: 5%;
}

.project1 {
  height: 200px;
  width:300px;
}

.project1:hover {
  cursor: pointer;
}

.item, .project1:hover {
  opacity: 0.7;
}

.skills {
  height: 40%;
  width: 30%;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.live, .code {
  margin-left: 5px;
  margin-right: 15px;
}

a, u {
  text-decoration: none !important;
}

#main-screen {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;

}
@keyframes gradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}

.progress {
  margin-bottom: 10px;
}

.col {
  padding: 0;
}
